<link rel="stylesheet" href="/css/user/account/address.css">
<!-- ADDRESSES -->
<section id="addresses" class="main-card mt-4">
  <div class="address-header">
    <h5>My Addresses</h5>
    <a href="/account/addresses/add-address">
      <button class="btn btn-outline btn-sm add-address">Add
        address</button>
    </a>
  </div>

  {{#if address.length}}
  {{#each address}}
  <div class="mt-4 addresses-list">
    <div class="address-card">
      <div class="address-left">

        <h6 class="fw-bold">
          {{this.label}}
          {{#if this.defaultAddress}}
          <span class="default-badge" style="margin-left:8px;">Default</span>
          {{/if}}
        </h6>

        <div class="address-lines">
          {{this.fullName}}<br>
          {{this.street}}<br>
          {{this.landmark}}<br>
          {{this.label}}<br>
          {{this.city}}<br>
          {{this.district}}<br>
          {{this.state}}<br>
          {{this.pinCode}}<br>
          {{this.email}}<br>
          {{this.phone}}
        </div>
      </div>

      <div class="address-actions">

        {{#unless this.defaultAddress}}
        <button class="address-set-default-btn btn btn-success btn-sm" data-address-id="{{this._id}}">
          Set Default
        </button>
        {{/unless}}

        <button class="address-edit-btn btn btn-outline btn-sm" data-address-id="{{this._id}}">Edit</button>
        <button class="address-delete-btn btn btn-outline btn-sm" data-address-id="{{this._id}}">Delete</button>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <div class="mt-4 text-center p-4">
    <h6>No saved addresses.</h6>
    <p>Add an address to continue.</p>
  </div>
  {{/if}}


</section>


<!-- UNIVERSAL CONFIRMATION MODAL -->
<div id="confirmModal" class="modal-backdrop" aria-hidden="true">
  <div class="modal-box">
    <h3 id="confirmTitle">Are you sure?</h3>
    <p id="confirmText" style="margin-top:6px;">This action cannot be undone.</p>

    <div style="margin-top:14px; display:flex; gap:10px; justify-content:flex-end;">
      <button id="confirmCancel" class="btn btn-outline">Cancel</button>
      <button id="confirmOk" class="btn btn-danger">Confirm</button>
    </div>
  </div>
</div>

<!-- ==========================
       CUSTOM ERROR SWAL 
     ==========================-->
<div id="customSwalError" class="custom-swal-backdrop">
  <div class="custom-swal-box error">
    <h3 id="customSwalErrorTitle">Error</h3>
    <p id="customSwalErrorText">Something went wrong.</p>
    <button id="customSwalErrorBtn" class="error-btn">OK</button>
  </div>
</div>
<script src="/js/user/account/address.js"></script>