<div class="container-fluid px-4 py-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold mb-0">Brand Management</h4>
    <div class="d-flex align-items-center gap-3">
      <!-- Search Bar -->
      <div class="input-group" style="width: 250px;">
        <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
        <input type="text" id="searchBrand" class="form-control" placeholder="Search brand...">
      </div>
      <!-- Add Brand Button -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBrandModal">
        <i class="bi bi-plus-lg me-1"></i> Add Brand
      </button>
      <!-- <a href="/admin/brands-management/add"" class=" btn btn-primary"><i class="bi bi-plus-lg me-1"></i> Add Brand</a> -->
    </div>
  </div>

  <!-- Brand Table -->
  <div class="card shadow-sm">
    <div class="card-body table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Logo</th>
            <th>Brand Name</th>
            <th>Origin Country</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="brandTable">
          {{#each brands}}
          <tr>
            <td>{{inc @index}}</td>
            <td>
              <img src="{{image_url}}" alt="{{name}}" class="rounded"
                style="width:50px; height:50px; object-fit:cover;">
            </td>
            <td class="fw-semibold">{{name}}</td>
            <td>{{country}}</td>
            {{#if this.isListed}}
            <td class="text-success">Listed</td>
            {{else}}
            <td class="text-danger">Listed</td>
            {{/if}}
            <td>
              <button class="btn btn-sm btn-outline-primary me-2 editBrandBtn" data-id="{{_id}}" data-name="{{name}}"
                data-country="{{country}}" data-image="{{image_url}}" data-bs-toggle="modal"
                data-bs-target="#editBrandModal">
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button
                class="btn btn-sm  {{#if this.isListed}}btn-outline-warning{{else}}btn-outline-success{{/if}} deleteBrandBtn"
                data-id="{{_id}}" data-name="{{name}}" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
                <i class="bi {{#if this.isListed}}bi-eye-slash-fill{{else}}bi-eye-fill{{/if}}"></i>
              </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <nav class="mt-5" id="paginationSecction"></nav>
</div>

<!-- Add Brand Modal -->
<div class="modal fade" id="addBrandModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addBrandForm" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">Add New Brand</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Alert -->
          <div id="alert" class="d-none text-center"></div>
          <div class="mb-3">
            <label class="form-label">Brand Name</label>
            <input type="text" class="form-control" name="name" id="brandName" required>
            <small class="text-danger " id="brandNameError" style="display: none;"></small>
          </div>
          <div class="mb-3">
            <label class="form-label">Origin Country</label>
            <input type="text" class="form-control" name="country" id="brandCountry" required>
            <small class="text-danger " id="brandCountryError" style="display: none;"></small>
          </div>
          <div class="mb-3 text-center">
            <label class="form-label">Brand Logo</label>
            <input type="file" id="brandImageInput" class="form-control" accept="image/*">
            <small class="text-danger " id="brandImageError" style="display: none;"></small>
            <div class="mt-3" style="max-height: 300px;">
              <img id="brandImagePreview" class="img-fluid d-none rounded border" alt="Preview">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Save Brand</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Brand Modal -->
<div class="modal fade" id="editBrandModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editBrandForm" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">Edit Brand</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="editBrandId">
          <!-- Alert -->
          <div id="editAlert" class="d-none text-center"></div>
          <div class="mb-3">
            <label class="form-label">Brand Name</label>
            <input type="text" class="form-control" name="name" id="editBrandName" required>
            <small class="text-danger " id="editBrandNameError" style="display: none;"></small>
          </div>
          <div class="mb-3">
            <label class="form-label">Origin Country</label>
            <input type="text" class="form-control" name="country" id="editBrandCountry" required>
            <small class="text-danger " id="editBrandCountryError" style="display: none;"></small>
          </div>
          <div class="mb-3">
            <label class="form-label">Change Logo (optional)</label>
            <input type="file" class="form-control" name="image" id="editBrandImage" accept="image/*">
          </div>
          <div class="text-center">
            <img id="currentBrandImage" src="" alt="Brand Image" class="rounded border"
              style="width:80px;height:80px;object-fit:cover;">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success w-100">Update Brand</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Brand Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-danger fw-bold">Unlist/List Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure <strong id="deleteBrandName"></strong>?</p>
        <input type="hidden" id="deleteBrandId">
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" id="confirmDeleteBrand" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="/js/admin/brands/brandManagement.js"></script>