<link rel="stylesheet" href="/css/user/checkout/checkout.css">

<div class="wrap-container">
  <div class="container">
    <h1>Checkout</h1>

    <div class="stepper-wrapper">
      <div class="stepper">
        <div class="step-item">
          <div class="step active-step">1</div>
          <div class="step-label">Address</div>
        </div>
        <div class="step-item">
          <div class="step active-step">2</div>
          <div class="step-label">Select Payment</div>
        </div>
        <div class="step-item">
          <div class="step">3</div>
          <div class="step-label">Pay</div>
        </div>
        <div class="step-item">
          <div class="step">4</div>
          <div class="step-label">Summary</div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div>
        <h2>Payment Method</h2>
        <div class="card">
          <div id="stripe-box" style="display:none;">
            <h5 class="mt-3">Secure Payment</h5>
            <div id="payment-element"></div>
          </div>
          <div onclick="step3(this)" data-payment="STRIP" data-totalamount="{{cart.totalAmount}}" class="payment-option"
            data-cartid="{{cart._id}}">
            🔶 <div><strong>STRIP</strong><br><small>Pay instantly</small></div>
          </div>

          <!-- <div onclick="step3(this)" data-payment="CARD" class="payment-option">
            💳 <div><strong>Card</strong></div>
          </div>

          <div onclick="step3(this)" data-payment="NETBANKING" class="payment-option">
            🏦 <div><strong>Net Banking</strong></div>
          </div> -->

          <div onclick="step3(this)" data-payment="COD" data-totalamount="{{cart.totalAdvanceAmount}}"
            class="payment-option" data-cartid="{{cart._id}}">
            🚚 <div><strong>Cash on Delivery</strong></div>
          </div>

        </div>
      </div>

      <div>
        <div class="card summary-card">
          <h3>Order Summary</h3>

          <!-- <div style="display:flex; align-items:center; margin-top:10px;">
            <div><strong>Seat Cover</strong><br><small>Qty: 1</small></div>
          </div> -->

          <div class="summary-row"><span>Price ({{cart.items.length}} items)</span><span>{{formatPrice
              cart.totalAmount}}</span></div>
          <!-- <div class="summary-row"><span>Discount</span><span>₹28,000</span></div> -->
          <div class="summary-row"><span>Shipping</span><span>Free</span></div>
          {{#if cart.accessoryTax}}
          <div class="summary-row"><span>Tax<span class="fw-semibold">(GST {{taxRate}}% Only for
                Accessory)</span></span><span>₹ {{formatPrice cart.accessoryTax}}</span></div>
          {{else}}
          <div class="summary-row"><span>Tax</span><span>₹ 0</span></div>
          {{/if}}
          {{#if cart.appliedCoupon.code}}
          <div class="d-flex justify-content-between align-items-center mb-3 bg-light p-2 rounded">
            <span class="text-muted">
              Applied Coupon:
              <strong class="text-dark">{{cart.appliedCoupon.code}}</strong>
            </span>

            <div class="d-flex align-items-center gap-2">
              <span class="fw-semibold text-success">
                - ₹{{formatPrice cart.appliedCoupon.couponDiscount}}
              </span>
            </div>
          </div>
          {{/if}}
          <hr>
          <div class="summary-row" style="font-weight:700"><span>Total</span><span>₹ {{formatPrice
              cart.totalAfterAll}}</span></div>
          {{#if cart.discountedPrice}}
          <!-- Savings Banner -->
          <div class="alert alert-success d-flex justify-content-between align-items-center py-2 px-3 mb-3"
            role="alert">
            <span class="fw-semibold text-success" style="font-size: 13px;">
              Your Total Savings on this order
            </span>
            <span class="fw-semibold text-success" style="font-size: 13px;">
              ₹ {{formatPrice cart.discountedPrice}}
            </span>
          </div>
          {{/if}}
          <button class="btn" id="continueBtn" onclick=`location.href="/" `>Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  async function step3(div) {
    const paymentMethod = div.getAttribute("data-payment");
    const totalAmount = div.getAttribute("data-totalamount");
    const cartId = div.getAttribute("data-cartid");

    // window.location.href = `/cart/checkout-step-3/${paymentMethod}`;
    const stripe = Stripe("pk_test_51SprHJDaZqWZuwPQahtwI62z1s3n0NZ1RChPHKFRpiPwSZuuAmJmdSMqNL6oXTIPtJ7Ijc55sT5vc4MBCo0DRaV200Hmz5YVeg");

    try {
      // 1️⃣ Create PaymentIntent using Axios
      const res = await axios.post(`/cart/create-payment/${paymentMethod}`, {
        amount: totalAmount   // ₹10 crore
      });


      if (res.data.success) {
        const clientSecret = res.data.clientSecret;

        // 2️⃣ Create Stripe Elements
        const elements = stripe.elements({ clientSecret });
        const paymentElement = elements.create("payment");

        // Clear old element if exists
        const container = document.getElementById("payment-element");
        const stripeBox = document.getElementById("stripe-box");

        stripeBox.style.display = "block"; // show stripe UI
        container.innerHTML = "";
        paymentElement.mount(container);
        //         valid card id 
        // 1515 4545 2252 5224

        // 3️⃣ Confirm payment
        const { error } = await stripe.confirmPayment({
          elements,
          confirmParams: {
            return_url: `http://localhost:8000/cart/checkout/create-order/${cartId}`
          }
        });

        if (error) {
          alert(error.message);
        }
      }
      else {
        window.location.href = res.data.redirect
      }


    } catch (err) {
      alert("Payment error: " + err.message);
    }



  }
</script>