<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/css/sidebar.css">
  </head>

<body>
  {{#if admin}}
  <nav class="navbar bg-white border-bottom">
    <div class="container-fluid justify-content-end">
      <div class="d-flex align-items-center">
        <img src="/images/user-avatar.jpg" alt="avatar" style="width:40px; border-radius:50%;" />
        <span class="ms-2 fw-bold">Admin User</span>
        <span class="ms-2 text-muted">{{email}}</span>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-light px-0">
        {{> sidebarAdmin}}
      </div>
      <div class="col-md-9 px-4">
        {{{body}}}
      </div>
    </div>
  </div>
  {{> footerAdmin}}
  {{else}}
  {{{body}}}
  {{/if}}


  <script src="/js/bootstrap.bundle.min.js" defer></script>
  <script src="/js/OTPTimer.js"></script>
</body>

</html>