<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/dashboard.css">
    <!-- <link rel="stylesheet" href="/css/admin/product/productManagement.css"> -->
    <link rel="stylesheet" href="/css/admin/accessory/accessories-product.css">
    <link rel="stylesheet" href="/css/admin/add-car-product.css">
    <!-- Image croping -->
    <link href="https://unpkg.com/cropperjs@1.5.13/dist/cropper.min.css" rel="stylesheet">

  </head>

<body>
  {{#if admin}}
  {{> navbarAdmin}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light px-0">
        {{> sidebarAdmin}}
      </div>
      <div class="col-md-10 px-4">
        {{{body}}}
      </div>
    </div>
  </div>
  {{> footerAdmin}}
  {{else}}
  {{{body}}}
  {{/if}}


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- croper -->
  <script src="https://unpkg.com/cropperjs@1.5.13/dist/cropper.min.js" defer></script>
  <script src="/common/bootstrap.bundle.min.js" defer></script>
  <!-- axios -->
  <script src="/common/axios.min.js" defer></script>
  <!-- <script src="/js/admin/brands/brandManagement.js"></script> -->
  <script src="/js/admin/accessories-product.js"></script>
  <!-- <script src="/js/admin/car-product.js"></script> -->
  <!-- <script src="/js/admin/categoryManagement.js"></script> -->
  <!-- <script src="/js/admin/productManagement.js"></script> -->
  <!-- <script src="/js/admin/typeManagement.js"></script> -->
</body>

</html>